@model HomeShare.Models.RechercheViewModel
@{
    ViewBag.Title = "Recherche";
}

<h2 class="center">Résultats de votre recherche</h2>





<div class="container">
    <div class="properties-listing spacer">

        <div class="row">
     

            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-left result">Showing: 12 of 100 </div>
                    <div class="pull-right">
                        <select class="form-control">
                            <option>Sort by</option>
                            <option>Price: Low to High</option>
                            <option>Price: High to Low</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <!-- properties -->
                    @foreach (HomeShare.Models.BienEchangeModel item in Model.BienRetrouver)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="properties">
                                <div class="image-holder">
                                    <img src="/images/properties/1.jpg" class="img-responsive" alt="properties">
                                    <div class="status sold">Disponible</div>
                                </div>
                                <h4><a href="property-detail.php">@item.Titre</a></h4>
                                <p class="price">Price: $234,900</p>
                                <p>@item.DescCourte</p>
                                Nombre de personnes : <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">@item.NombrePerson</span> </div>
                                <a class="btn btn-primary" href="property-detail.php">Séléctionner ce bien</a>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>






